[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
chrono = "0.4"
common_time = { workspace = true }
serde = { workspace = true }
rand = { version = "0.9", features = ["thread_rng"] }
